<title>Admin page</title>
<body >
  <div class= "row" >
		<div class= "col-md-10" id = "lijevo">
      
      
      
      <div class="container" *ngIf="show==1" id="field">
        <form [formGroup]="accommodationTypeForm" novalidate (ngSubmit)="onSubmitAccommodationTypeForm(atf)" #atf="ngForm" class="serviceForm">  					
            <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="type">New type of accommodation:</label>
                 <input type="text" formControlName="type" class="form-control" id="type">
                 <span *ngIf="accommodationTypeForm.get('type').hasError('required') && (accommodationTypeForm.get('type').dirty || accommodationTypeForm.get('type').touched)" style="color: red;">This field is required.</span>        
               </div>
             </div>
             <button [disabled]="accommodationTypeForm.invalid" type="submit" id="confirmBtn" [ngClass]="{'active': accommodationTypeForm.valid, 'disabled': !accommodationTypeForm.valid}" class="btn btn-primary" >Add</button>
        </form>
      </div>

      <div class="container" *ngIf="show==2" id="field">
        <form [formGroup]="additionalServiceForm" novalidate (ngSubmit)="onSubmitAdditionalServiceForm(asf)" #asf="ngForm" class="serviceForm">  					
            <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="service">New additional service:</label>
                 <input type="text" formControlName="service" class="form-control" id="service">
                 <span *ngIf="additionalServiceForm.get('service').hasError('required') && (additionalServiceForm.get('service').dirty || additionalServiceForm.get('service').touched)" style="color: red;">This field is required.</span>    
               </div>
             </div>
             <button [disabled]="additionalServiceForm.invalid" type="submit" id="confirmBtn" [ngClass]="{'active': additionalServiceForm.valid, 'disabled': !additionalServiceForm.valid}" class="btn btn-primary" >Add</button>
        </form>
      </div>

      <div class="container" *ngIf="show==3" id="field">
        <form [formGroup]="agentForm" novalidate (ngSubmit)="onSubmitAgentForm(f)" #af="ngForm" class="serviceForm">				
            <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="firstName">First name: </label>
                 <input type="text" formControlName="firstName" class="form-control" id="firstName">
                <span *ngIf="agentForm.get('firstName').hasError('required') && (agentForm.get('firstName').dirty || agentForm.get('firstName').touched)" style="color: red;">This field is required.</span>
               </div>
             </div>
             <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="lastName">Last name: </label>
                 <input type="text" formControlName="lastName" class="form-control" id="lastName">
               </div>
             </div>
             <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="pib">Tax identification number: </label>
                 <input type="text" formControlName="pib" class="form-control" id="pib">
               </div>
             </div>
             <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="state">State: </label>
                 <input type="text" formControlName="state" class="form-control" id="state">
               </div>
             </div>
             <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="city">City: </label>
                 <input type="text" formControlName="city" class="form-control" id="city">
               </div>
             </div>
             <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="street">Street: </label>
                 <input type="text" formControlName="street" class="form-control" id="street">
               </div>
             </div>
             <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="number">Number: </label>
                 <input type="text" formControlName="number" class="form-control" id="number">
               </div>
             </div>
             <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="ptt">PTT: </label>
                 <input type="text" formControlName="ptt" class="form-control" id="ptt">
               </div>
             </div>
             <div class="col-xs-8">
               <a href="https://www.latlong.net/convert-address-to-lat-long.html">Get latitude and longitude from address</a>
             </div>
             <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="latitude">Latitude: </label>
                 <input type="text" formControlName="latitude" class="form-control" id="latitude">
               </div>
             </div>
             <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="longitude">Longitude: </label>
                 <input type="text" formControlName="longitude" class="form-control" id="longitude">
               </div>
             </div>
             <button [disabled]="agentForm.invalid" type="submit" id="confirmBtn" [ngClass]="{'active': agentForm.valid, 'disabled': !agentForm.valid}" class="btn btn-primary" >Add</button>
        </form>
      </div>

    </div>

    <aside class="col-md-2">
      <div class="okvir">
				  <button (click) = "addType()" type="button" class="btn btn-link">Add new type of accommodation</button>
       </div>
       <div class="okvir">
				  <button (click) = "addAdditionalService()" type="button" class="btn btn-link">Add new additional service</button>
       </div>
       <div class="okvir">
          <button (click) = "addAgent()" type="button" class="btn btn-link">Add new agent</button>
      </div>
    </aside>
  </div>
</body>