body{
    background-color: #EFEFEF;
    color: #666;
    font-family: 'Lato', sans-serif;    
    font-size: 16px;
}
#field{
    padding: 3%;
    margin-top: 3%;
   background-color: rgba(255,255,255,0.8);
     border: 3px solid #C3C3C3;
      border-radius: 8px;
}
header{
    margin-top:5%;
    text-align: center !important;
    font-size: 50px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    }
  form{	 		
        text-align: center;
  }
  .form-group{
  text-align: left;
  }
  #confirmBtn{
    padding : 10px;
  }
  .col-xs-8{
    margin-left:20%;
    margin-right:20%;
  }
  
  .error{
    color: #FF0000;
  }
  .okvir{
   border: 2px solid #8d8406d7;
   border-radius: 5px;
   padding : 0 px;
   color:#b8b152 !important;
   margin-top:5px;
   width: 150px;
 }

 .sirina{
   width: 100%;
 }

 th, td{
  text-align: center;
  width: 140px;
 }

 .action{
  border-radius: 200px;
  background: #e2c76d;
  margin-right: 20px;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
 }

 .allow:hover { 
  background: #e4ae3a;
}

.pressed{
  background: #f0e9b1;
}

nav {
  height:80px;
  background-color:#EFEFEF;
}
#grupa{
  height: 100%;
}
.navigation{
  font-size:20px;
}
#navigationMT{
  font-size:50px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#tableAcc th, td{
  width: 300px;
}

nav {
  height:120px;
  background-color:#EFEFEF;
}
#grupa{
  height: 100%;
}
.navigation{
  font-size:20px;
}
#navigationMT{
  font-size:50px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.booking-form {
  max-width: 950px;
  width: 100%;
  margin: auto;
  padding: 30px;
  border-radius: 3px;
}
input[type="date"]::before { 
	content: attr(data-placeholder);
	width: 100%;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }

button{
  border: 1px solid rgb(114, 112, 5);
  background-color: #FFF;
  color: #000000;
}
#adminActions{
  background-image: url(../../assets/images/admin.jpg);  
  background-size: cover;     
  color:#fff;
  height: 1000px;
  font-size: 16px; 
} 
#kont{
  width: 900px;
  background-color: rgba(107, 99, 25, 0.555);
}

label{
  color: rgba(77, 53, 21, 0.747);
}