<title>Admin page</title>
<body >

<div class="container" id="field">
  	<form method="post" class="accommodationForm" (submit)="newAccommodationType()">  					
        <div class="form-group row">
            <div class="col-xs-8" > 
             <i class="glyphicon glyphicon-envelope"></i>
             <label for="email">New type of accommodation:</label>
             <input required type="text" [(ngModel)]="type.name" #type="ngModel" class="form-control" id="type" placeholder="Enter new type">
             <div class="alert alert-danger" *ngIf="!type.valid && type.touched"> First fill field! </div>    
           </div>
         </div>
         <button type="submit" id="confirmBtn" class="btn btn-default btn-lg">Add</button>
    </form>
</div>
</body>