<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
          <span id="navigationMT" >MegaTravel - admin app</span>
    </div>
  </div>
</nav>
<body>
  
  <div class= "row" >
		<div class= "col-md-10" id = "lijevo">
      
      <div class="container" *ngIf="show==6" id="field">
        <p>Email is already taken. Choose another one.</p>
      </div>
      
      <div class="container" *ngIf="show==1" id="field" [hidden]="notLogged">
        <form [formGroup]="accommodationTypeForm" novalidate (ngSubmit)="onSubmitAccommodationTypeForm(atf)" #atf="ngForm" class="serviceForm">  					
            <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="type">New type of accommodation:</label>
                 <input type="text" formControlName="type" class="form-control" id="type">
                 <span *ngIf="accommodationTypeForm.get('type').hasError('required') && (accommodationTypeForm.get('type').dirty || accommodationTypeForm.get('type').touched)" style="color: red;">This field is required.</span>        
                 <div class="alert error" [innerHTML]="htmlStr" ></div>
                </div>
             </div>
             <button [disabled]="accommodationTypeForm.invalid" type="submit" id="confirmBtn" [ngClass]="{'active': accommodationTypeForm.valid, 'disabled': !accommodationTypeForm.valid}" class="btn btn-primary" >Add</button>
        </form>
      </div>

      <div class="container" *ngIf="show==2" id="field" [hidden]="notLogged">
        <form [formGroup]="additionalServiceForm" novalidate (ngSubmit)="onSubmitAdditionalServiceForm(asf)" #asf="ngForm" class="serviceForm">  					
            <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="service">New additional service:</label>
                 <input type="text" formControlName="service" class="form-control" id="service">
                 <span *ngIf="additionalServiceForm.get('service').hasError('required') && (additionalServiceForm.get('service').dirty || additionalServiceForm.get('service').touched)" style="color: red;">This field is required.</span>    
                 <div class="alert error" [innerHTML]="htmlStr1" ></div>
                </div>
             </div>
             <button [disabled]="additionalServiceForm.invalid" type="submit" id="confirmBtn" [ngClass]="{'active': additionalServiceForm.valid, 'disabled': !additionalServiceForm.valid}" class="btn btn-primary" >Add</button>
        </form>
      </div>

      <div class="container" *ngIf="show==3" id="field" [hidden]="notLogged">
        <form [formGroup]="agentForm" novalidate (ngSubmit)="onSubmitAgentForm(f)" #af="ngForm" class="serviceForm">				
            <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="firstName">First name: </label>
                 <input type="text" formControlName="firstName" class="form-control" id="firstName">
                <span *ngIf="agentForm.get('firstName').hasError('required') && (agentForm.get('firstName').dirty || agentForm.get('firstName').touched)" style="color: red;">This field is required.</span>
               </div>
             </div>
             <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="lastName">Last name: </label>
                 <input type="text" formControlName="lastName" class="form-control" id="lastName">
               </div>
             </div>
             <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>

                 <label for="email">E-mail: </label>
                 <input type="email" formControlName="email" class="form-control" id="email">
               </div>
             </div>
             <div class="form-group row">
              <div class="col-xs-8" > 
               <i class="glyphicon glyphicon-envelope"></i>
               <label for="password">Password: </label>
               <input type="password" formControlName="password" class="form-control" id="password">
             </div>
           </div>
             <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="pib">Tax identification number: </label>

                 <label for="pib">Tax identification number (9 digits): </label>

                 <input type="text" formControlName="pib" class="form-control" id="pib">
               </div>
             </div>
             <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="state">State: </label>
                 <input type="text" formControlName="state" class="form-control" id="state">
               </div>
             </div>
             <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="city">City: </label>
                 <input type="text" formControlName="city" class="form-control" id="city">
               </div>
             </div>
             <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="street">Street: </label>
                 <input type="text" formControlName="street" class="form-control" id="street">
               </div>
             </div>
             <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="number">Number: </label>
                 <input type="text" formControlName="number" class="form-control" id="number">
               </div>
             </div>
             <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="ptt">Zip code: </label>
                 <input type="text" formControlName="ptt" class="form-control" id="ptt">
               </div>
             </div>
            
             <div class="form-group row">
                <div class="col-xs-8" > 
                 <i class="glyphicon glyphicon-envelope"></i>
                 <label for="distance">Distance: </label>
                 <input type="text" formControlName="distance" class="form-control" id="distance">
               </div>
             </div>
             <button [disabled]="agentForm.invalid" type="submit" id="confirmBtn" [ngClass]="{'active': agentForm.valid, 'disabled': !agentForm.valid}" class="btn btn-primary" >Add</button>
        </form>
      </div>

      <div class="container" *ngIf="show==4" id="field" [hidden]="notLogged">
          <div *ngIf="users.length == 0">
              <p style="text-align: center;">There are no users in system.</p>
          </div>
          <div *ngIf="users.length != 0">
            <table>
              <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>E-mail</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
              <tr *ngFor="let user of users;">
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.email}}</td>
                <td [ngClass]="{'allow': !user.enabled}" class="action" (click)="!user.enabled ? activateUser(user.id) : '' ">Activate</td>
                <td [ngClass]="{'allow': !user.blocked}" class="action" (click)="!user.blocked ? blockUser(user.id) : '' ">Block</td>
                <td [ngClass]="{'allow': !user.deleted}" class="action" (click)="!user.deleted ? deleteUser(user.id) : '' ">Delete</td>
              </tr>
            </table>
        </div>
      </div>
      <div class="container" *ngIf="show==5" id="field" [hidden]="notLogged">
          <form [formGroup]="accommodationForm" novalidate (ngSubmit)="onSubmitAccommodationForm(acf)" #acf="ngForm">  
              <div class="form-group row">
                  <div class="col-xs-8" > 
                   <i class="glyphicon glyphicon-envelope"></i>
                   <label for="nameACC">Name: </label>
                   <input type="text" formControlName="nameACC" class="form-control" id="nameACC">
                 </div>
               </div>					
              <div class="form-group row">
                  <div class="col-xs-8" > 
                   <i class="glyphicon glyphicon-envelope"></i>
                   <label for="stateACC">State: </label>
                   <input type="text" formControlName="stateACC" class="form-control" id="stateACC">
                 </div>
               </div>
               <div class="form-group row">
                  <div class="col-xs-8" > 
                   <i class="glyphicon glyphicon-envelope"></i>
                   <label for="cityACC">City: </label>
                   <input type="text" formControlName="cityACC" class="form-control" id="cityACC">
                 </div>
               </div>
               <div class="form-group row">
                  <div class="col-xs-8" > 
                   <i class="glyphicon glyphicon-envelope"></i>
                   <label for="streetACC">Street: </label>
                   <input type="text" formControlName="streetACC" class="form-control" id="streetACC">
                 </div>
               </div>
               <div class="form-group row">
                  <div class="col-xs-8" > 
                   <i class="glyphicon glyphicon-envelope"></i>
                   <label for="numberACC">Number: </label>
                   <input type="text" formControlName="numberACC" class="form-control" id="numberACC">
                 </div>
               </div>
               <div class="form-group row">
                  <div class="col-xs-8" > 
                   <i class="glyphicon glyphicon-envelope"></i>
                   <label for="pttACC">Zip code: </label>
                   <input type="text" formControlName="pttACC" class="form-control" id="pttACC">
                 </div>
               </div>
               <div class="form-group row">
                  <div class="col-xs-8" > 
                   <i class="glyphicon glyphicon-envelope"></i>
                   <label for="distanceACC">Distance from the city center: </label>
                   <input type="text" formControlName="distanceACC" class="form-control" id="distanceACC">
                 </div>
               </div>
               
               <div class="form-group row">
                  <div class="col-xs-8" > 
                   <i class="glyphicon glyphicon-envelope"></i>
                   <label for="typeACC">Accommodation type: </label>
                   <select formControlName="typeACC" class="form-control" id="typeACC">
                     <option *ngFor="let type of types;" value={{type.name}}>{{type.name}}</option>
                   </select>
                 </div>
               </div>
               <div class="form-group row">
                  <div class="col-xs-8" > 
                   <i class="glyphicon glyphicon-envelope"></i>
                   <label for="description">Description: </label>
                   <input type="text" formControlName="description" class="form-control" id="description">
                 </div>
               </div>
               <div class="form-group row">
                  <div class="col-xs-8" > 
                   <i class="glyphicon glyphicon-envelope"></i>
                   <label for="serviceACC">Additional services: </label><br/>
                   <label style="font-size: 12px;">*Press Ctrl for multi-select</label>
                   <select formControlName="serviceACC" class="form-control" id="serviceACC" (change)="selectionCh(acf)" multiple>
                     <option *ngFor="let service of services;" value={{service.id}}>{{service.name}}</option>
                   </select>
                 </div>
               </div>
               <div class="form-group row">
                  <div class="col-xs-8" > 
                   <i class="glyphicon glyphicon-envelope"></i>
                   <label for="freeCancelation">Free cancelation: </label><br/>
                   <input type="radio" name="freeCancelation" formControlName="freeCancelation" value="Yes" (change)="freeCancelationChanged(acf)"> Yes<br>
                   <input type="radio" name="freeCancelation" formControlName="freeCancelation" value="No" (change)="freeCancelationChanged(acf)"> No<br>
                   <div *ngIf="showFreeCancelation">
                      <label for="freeCancelationDays">Days before reservation: </label><br/>
                      <input type="text" formControlName="freeCancelationDays" class="form-control" id="freeCancelationDays">
                   </div>
                  </div>
               </div>
               <div class="form-group row">
                  <div class="col-xs-8" > 
                   <i class="glyphicon glyphicon-envelope"></i>
                   <label for="file">Choose image: </label><br/>
                   <input type="file" formControlName="file" id="file" accept="image/*">
                 </div>
               </div>
               <button [disabled]="accommodationForm.invalid" type="submit" id="confirmBtn" class="btn btn-primary" >Add</button> 
          </form>
        </div>
        <div class="container" *ngIf="show==7" id="field" [hidden]="notLogged">
            <div *ngIf="accommodations.length == 0">
                <p style="text-align: center;">There are no accommodations in system.</p>
            </div>
            <div *ngIf="accommodations.length != 0">
              <table id="tableAcc" >
                <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th>&nbsp;</th>
                </tr>
                <tr *ngFor="let accommodation of accommodations;">
                  <td>{{accommodation.name}}</td>
                  <td>{{accommodation.address.street}} {{accommodation.address.number}}, {{accommodation.address.city}} {{accommodation.address.state}}</td>
                  <td class="action" (click)="showAgents(accommodation.id)" id="button{{accommodation.id}}">Add agents</td>
                </tr>
              </table>
          </div>
        </div>
        
        <div class="container" *ngIf="show==7" id="agentsForm" hidden>
            <form [formGroup]="ACCAgentsForm" novalidate (ngSubmit)="onSubmitACCAgentsForm(aaf)" #aaf="ngForm" >  					
                <div class="form-group row">
                    <div class="col-xs-8" > 
                     <i class="glyphicon glyphicon-envelope"></i>
                     <label for="agentsACC">Agents: </label>
                     <select multiple formControlName="agentsACC" class="form-control" id="agentsACC">
                       <option *ngFor="let agent of agents;" value={{agent.id}}>{{agent.name}} {{agent.surname}}</option>
                     </select>
                   </div>
                 </div>
                 <button [disabled]="ACCAgentsForm.invalid" type="submit" id="confirmBtn" [ngClass]="{'active': ACCAgentsForm.valid, 'disabled': !ACCAgentsForm.valid}" class="btn btn-primary" >Add agents</button>
            </form>
          </div>
    </div>

    <aside class="col-md-2">
      
      <div class="okvir" [hidden]="notLogged">
				  <button  [ngClass]="{'pressed': show == 1}" (click) = "addType()" type="button" class="btn btn-primary sirina">Add new type of accommodation</button>
       </div>
       <div class="okvir" [hidden]="notLogged">
				  <button [ngClass]="{'pressed': show == 2}" (click) = "addAdditionalService()" type="button" class="btn btn-primary sirina">Add new additional service</button>
       </div>
       <div class="okvir" [hidden]="notLogged">

          <button  [ngClass]="{'pressed': show == 3}" (click) = "addAgent()" type="button" class="btn btn-primary sirina">Add new agent</button>
      </div>
      <div class="okvir" [hidden]="notLogged">
          <button [ngClass]="{'pressed': show == 5}" (click) = "addAccommodation()" type="button" class="btn btn-primary sirina">Add accommodation</button>
      </div>
      <div class="okvir" [hidden]="notLogged">
          <button  [ngClass]="{'pressed': show == 4}" (click) = "getUsers()" type="button" class="btn btn-primary sirina">Load users</button>
      </div>
      <div class="okvir" [hidden]="notLogged">
          <button  [ngClass]="{'pressed': show == 7}" (click) = "getAccommodations()" type="button" class="btn btn-primary sirina">Add agents to accommodations</button>
      </div>

      <div id="myNavbar" class="okvir">
        <ul class="nav navbar-nav navbar-right">
          <li id="login" class="btn btn-light sirina" [hidden]="logged"><a href=""> Log in <span class="glyphicon glyphicon-log-in"></span></a></li>
          <li id="logOut" class="btn btn-light sirina" (click)="logOutUser()" [hidden]="notLogged"> Log out <span class="glyphicon glyphicon-log-in"></span></li>        
        </ul>
      </div>
    </aside>
  </div>
</body>