<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
            <span id="navigationPKI">Public key infrastructure</span>
      </div>
      <div id="myNavbar">
        <ul class="nav navbar-nav navbar-right" >
          <li id="login" class="navigation" [hidden]="logged"><a href="/login"> Log in <span class="glyphicon glyphicon-log-in"></span></a></li>
          <li id="certificates" class="navigation" [hidden]="logged"><a href="/softwares"> Certificates <span class="glyphicon glyphicon-modal-window"></span></a></li>
          <li id="logOut" class="navigation" (click)="logOutUser()" [hidden]="notLogged"> Log out <span class="glyphicon glyphicon-log-in"></span></li>
        </ul>
      </div>
    </div>
  </nav>
  
    <header>Review of softwares</header>
    <div class="container-fluid" id="field">
        <div class="container" id = "showSoftwares">
          <table class="table table-striped" id="tableSoftwares" >
            <tr>
              <th> Name </th>
              <th> Certified </th>
              <th>Start date</th>
              <th>End date</th>
              <th>Revoked</th>
              <th>Reason</th>
            </tr>
            <tr *ngFor="let cert of certificates">
              <td>{{ cert.software }}</td>
              <td>{{ cert.certified }}</td>
              <td>{{ cert.startDate }}</td>
              <td>{{ cert.endDate }}</td>
              <td>{{ cert.revoked }}</td>
              <td>{{ cert.reasonForRevokation }}</td>
            </tr>
          </table>
      </div>			
    </div>
  </body>