<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
          <span id="navigationMT">MegaTravel</span>
    </div>
    <div id="myNavbar">
      <ul class="nav navbar-nav navbar-right" >
        <li id="login" class="navigation" [hidden]="logged"><a href="/login"> Log in <span class="glyphicon glyphicon-log-in"></span></a></li>
        <li id="certificate" class="navigation" [hidden]="logged"><a href="/login"> Log in <span class="glyphicon glyphicon-log-in"></span></a></li>
        <li id="logOut" class="navigation" [hidden]="notLogged"><a href="/login"> Log out <span class="glyphicon glyphicon-log-in"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
