<title>My certificates</title>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
            <span id="navigationPKI">Certificates</span>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right" >
          <li id="home" class="navigation" ><a href="index.html"> Home page <span class="glyphicon glyphicon-log-in"></span></a></li>
         </ul>
      </div>
    </div>
  </nav>
    <div class="container" id="formRegistration" style="margin-top:80px;">
      <h3>List of certificates</h3>
    
      <table id="lista">
        <tr *ngFor="let u of users"><td>{{u.name}} {{u.surname}}</td><td>{{u.email}}</td><td *ngIf="u.certificated"><button class="btn btn-default	btn-md" id="revoke{{u.id}}" (click)="revokeCertificate(u.id)">Revoke</button></td><td *ngIf="u.certificated"><button class="btn btn-default	btn-md">Connect</button></td><td *ngIf="u.certificated"><button class="btn btn-default	btn-md" (click)="validate(u.id)">Validate</button></td><td *ngIf="!u.certificated">Revoked!</td></tr>
      </table>
      <div id="revokeDiv" class="container-fluid" hidden="true">
        <div class="row">
             <div class="col-xs-2" > 
              <label for="email">Reason:</label>
            </div>
          <div class="col-xs-7" > 
              <input type="text" class="form-control" id="reason" [(ngModel)]="reasonText" name="reason" #reason="ngModel" placeholder="Enter the reason">
             </div>
             <div class="col-xs-1" id="btnRevoke" > 
                <button id="confirmReason"  (click)="revokation()" class="btn btn-default btn-md" >Confirm</button>
              </div>   	
        </div>
      </div>
      
      <div id="connectDiv" class="container-fluid" hidden="true">
        <div class="row">
               <div class="col-xs-7">
              <select class="form-control" id="selectSoft">
              </select>	
            </div>
               <div class="col-xs-1" id="btnConnect"> 
                 
                </div>
          </div>
      </div>
      
      <div id="validateDiv" class="container-fluid" hidden="true">
        <div class="row">
             <div class="col-xs-5" > 
              <label id="validationLabel" for="email">Validation:</label>
            </div>
          <div class="col-xs-7" > 
              <input type="text" class="form-control" id="validation" [(ngModel)]="message.message" #validation="ngModel" name="validation" readonly>
             </div>
        </div>
        <div id="validationRevokedDiv" class="row" style="display: none;">
             <div class="col-xs-5" > 
              <label id="validationLabel" for="email">Reason:</label>
            </div>
          <div class="col-xs-7" > 
              <input type="text" class="form-control" id="validation_revoked" readonly>
             </div>
        </div>
      </div>
      
    </div>
  </body>
