body{
    background-color: #EFEFEF;
    color: #666;
      font-family: 'Lato', sans-serif;    
      font-size: 16px;
}
#field{
      padding: 3%;
      margin-top: 3%;
     background-color: rgba(255,255,255,0.8);
       border: 3px solid #C3C3C3;
       border-radius: 8px;
}
header{
  margin-top:5%;
  text-align: center !important;
  font-size: 30px;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  }
td{
  padding:8px;
}
nav {
  height:70px;
  background-color:#EFEFEF;
}
.navigation{
  font-size:20px;
}
#navigationMT{
  font-size:50px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.action{
  border-radius: 200px;
  background: #1f33a7;
  margin-right: 20px;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
  text-align: center;
 }

 .booking-form {
  max-width: 900px;
  width: 100%;
  margin: auto;
  padding: 30px;
  border-radius: 3px;
}
input[type="date"]::before { 
	content: attr(data-placeholder);
	width: 100%;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }

button{
  border: 1px solid rgb(49, 98, 140);
  background-color: dodgerblue;
}
#agentActions{
  background-image: url(../../assets/images/accommodation.jpg);  
  background-size: cover;     
  color:#fff;
  height: 900px;
  font-size: 16px; 
} 
#kont{
  width: 1000px;
  background-color: rgba(49, 98, 140, 0.55);
}