<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
          <span id="navigationMT">MegaTravel - agent app</span>
    </div>
    <div id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li id="login" class="btn btn-light" [hidden]="logged"><a href=""> Log in <span class="glyphicon glyphicon-log-in"></span></a></li>
        <li id="logOut" class="btn btn-light" (click)="logOutUser()" [hidden]="notLogged"> Log out <span class="glyphicon glyphicon-log-in"></span></li>        
      </ul>
    </div>
  </div>
  
</nav>

